body {
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif;
    font-size: 15px;
    color: #262626;
    background: #f7f8fa;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: #175199;
}
i {
    color: #9fadc7;;
}
.is-active i {
    color: #20a0ff;
}